
/* @media (max-width: 575px) {
    .hero-section .name {
        font-size: 56px;
    }
    .section-header {
        margin-bottom: 40px;
    }
    .section-title {
        font-size: 42px;
    }
    .section .pb-150 {
        padding-bottom: 70px;
    }
}
@media (max-width: 767px) {
    .hero-section .contant,
    .hero-section img {
        width: 100%;
        padding: 15px;
    }
}

@media (max-width: 1399px) {
    .hero-section .name {
        font-size: 62px;
    }
} */


